<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <h3>User Login Page</h3>

    <% if (passwordFail === true) { %>
      <p>Username and password combination not found</p>
    <% } %>

    <form action="/session/login" method="POST">
      Username: <input type="text" name="userName"></br>
      Password: <input type="password" name="password"></br>
      <input type="submit" value="Login">
    </form>

    Don't have an account? <a href="/users/register">Create one now. </a></br>
    <a href="/">Go home for more dad jokes!</a>

  </body>
</html>
