<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New User</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Bangers" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--CSS-->
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="centerText">
      <h1>New User</h1>

      <% if (passwordFail === true) { %>
        <p>Passwords do not match.  Please try again.</p>
      <% } %>
          <form action="/users/register" method="POST">
            First Name: <input type="text" name="firstName" value="<%=firstInput%>"><br/>
            Last Name: <input type="text" name="lastName" value="<%=lastInput%>"><br/>
            Username: <input type="text" name="username" value="<%=usernameInput%>"><br/>
            Password: <input type="password" name="password"><br/>
            Verify Password: <input type="password" name="password2"><br/>
            <input type="submit" value="Create User">
          </form></br></br>

          <a href="/">Back home for more dad jokes</a>
    </div>

  </body>
</html>
