<!DOCTYPE html>
<html ng-app="DadJokes">
<head>
  <% include ../partials/head.ejs %>
</head>
<body ng-controller="MainController as ctrl">
  <% include ../partials/nav.ejs %>
  <div class="container">
    <h1 class="title">Who loves dad jokes?</h1>
    <h2 class="title2">You do!</h2>
    <div class="form">
      <h1 class="ejs-title">New User</h1>

      <% if (passwordFail === true) { %>
        <p>Passwords do not match.  Please try again.</p>
        <% } %>
        <form action="/users/register" method="POST">
          <div class="user-info">
            First Name: <input type="text" name="firstName" value="<%=firstInput%>"><br/>
            Last Name: <input type="text" name="lastName" value="<%=lastInput%>"><br/>
            Username: <input type="text" name="username" value="<%=usernameInput%>"><br/>
            Password: <input type="password" name="password"><br/>
            Verify Password: <input type="password" name="password2"><br/><br/>
            <input type="submit" value="Create User">
          </div>
        </form>
      </div>
    </div>
  </body>
  </html>
