<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <div class="centerText">
      <h1>New User</h1>

      <% if (passwordFail === true) { %>
        <p>Passwords do not match.  Please try again.</p>
      <% } %>
          <form action="/users/register" method="POST">
            First Name: <input type="text" name="firstName" value="<%=firstInput%>"><br/>
            Last Name: <input type="text" name="lastName" value="<%=lastInput%>"><br/>
            Username: <input type="text" name="username" value="<%=usernameInput%>"><br/>
            Password: <input type="password" name="password"><br/>
            Verify Password: <input type="password" name="password2"><br/>
            <input type="submit" value="Create User">
          </form></br></br>

          <a href="/">Back home for more dad jokes</a>
    </div>

  </body>
</html>
