<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= user.userName %></title>
  </head>
  <body>
    <h2>Profile: </h2>
    <h3><u>Name</u></h3>
    <p><%= user.firstName %> <%= user.lastName %></p>
    <h3><u>Favorite Jokes:</u></h3>
    <% for (oneJoke in user.favoriteJokes){ %>
      <p><%= oneJoke %></p>
      <button>Edit</button>
      <button>Delete</button>
    <% } %>
    <a href="/users/register">New User</a></br>
    <a href="/session/login">Login</a></br>
    <a href="/session/logout">Logout</a></br>
    <a href="/">Main Page</a>

  </body>
</html>
