<!DOCTYPE html>
<html ng-app="DadJokes">
<head>
  <% include ../partials/head.ejs %>
</head>
<body ng-controller="MainController as ctrl">
  <% include ../partials/nav.ejs %>
  <div class="container">

    <%# Basic information%>
    <h2 class="title"><%= user.firstName %> <%=user.lastName%>'s Joke Factory</h2>
    
    <%# Create a new joke box%>
    <div class="form">
      <h3 class="ejs-title-user">Create a new joke</h3>
      <form class="new-joke" ng-submit="ctrl.createJoke()">

        <textarea type="text" ng-model="ctrl.jokeText"></textarea><br>
        <input class="button" type="submit" ng-click="ctrl.randomDad();" value="Create Joke"/>

      </form>
    </div>

    <%# Favorite Jokes box%>
    <div class="form index-form">
      <h3 class="ejs-title-user">Favorite Jokes</h3>
      <ul>
        <% for (let i = 0; i < user.favoriteJokes.length; i++){ %>
          <li>
          <% let thisJoke = user.favoriteJokes[i].joke %>
          <p><%= thisJoke %></p>
          </li>
          <% } %>
        </ul>
      </div>

      <%# "My Jokes" box%>
      <div class="form index-form">
        <h3 class="ejs-title-user">My Jokes</h3>
        
        <ul>
          <% for (let i = 0; i < user.createdJokes.length; i++){ %>
            <li>
            <% let thisJoke = user.createdJokes[i].joke %>
            <p><%= thisJoke %></p>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </body>
    </html>
