<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show</title>
  </head>
  <body>
    <h2>Profile: </h2>
    <h3><u>Name</u></h3>
    <p><%= user.firstName %> <%= user.lastName %></p>
    <h3><u>Favorite Jokes:</u></h3>
    <% for (oneJoke in user.favoriteJokes){ %>
      <p><%= oneJoke %></p>
    <% } %>
    <!-- REGISTER NEW USER -->
    <a href="/users/register">New User</a></br>
    <!--  END OF 'REGISTER NEW USER' -->
    <!-- USER LOGIN -->
    <a href="/session/login">Login</a></br>
    <!-- END OF 'USER LOGIN'   -->
    <!-- USER LOGOUT -->
    <a href="/session/logout">Logout</a></br>
    <!-- END OF USER LOGOUT -->
    <!-- GO TO USER HOME -->
    <a href="/session/home">My Home</a></br>
    <!-- END OF USER HOME -->
  </body>
</html>
